@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
}

#body {
    background-color: rgb(250, 250, 250);
}

#main {
    background-color: rgb(250, 250, 250);
}

#header {
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-bottom: 2px solid rgba(196, 196, 196, 0.6);
    box-shadow: 0px 2px 4px rgba(184, 184, 184, 0.2);
    display: flex;
    height: 3em;
    margin: auto;
    margin-left: auto;
	margin-right: auto;
    position: fixed;
    text-align: center;
    top: 0%;
    width: 100%;
    z-index: 1;
}

#header-mobile {
    background-color: rgba(93, 214, 214, 0.5);
    border-bottom: 2px solid rgba(33, 171, 206, 0.6);
    border-right: 2px solid rgba(33, 171, 206, 0.6);
    border-radius: 0px 0px 4px 0px;
    display: none;
    height: 14em;
    position: absolute;
    width: 8em;
    top: 0%;
    left: 0%;
}

#nav-menu-mobile {
    align-items: flex-start;
    color: 1px solid black;
    display: flex;
    flex-flow: column;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    padding: 8px;
    height: 90%;
}

#nav-menu-mobile li {
    cursor: pointer;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-weight: 500;
    list-style: none;
}

#nav-menu-mobile a {
    cursor: pointer;
    color: rgb(32, 32, 32);
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    transition: 0.2s;
}

#menu-bars {
    position: absolute;
    top: 14px;
    left: 4px;
    width: 60px;
}

#menu-bars-header {
    position: relative;
    left: -10%;
    width: 60px;
}

.header-content {
    align-items: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    margin: auto;
    width: 70em;
}

#header p {
    font-size: 16px;
    font-weight: 500;
}

#nav-menu {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#nav-menu li {
    cursor: pointer;
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-weight: 500;
    list-style: none;
}

#nav-menu a {
    cursor: pointer;
    color: rgb(32, 32, 32);
    font-size: 15px;
    font-weight: 500;
    list-style: none;
    transition: 0.2s;
}

#nav-menu a:hover {
    color: rgb(164, 216, 216);
    transition: 0.2s;
}

.buttons-nav {
    text-decoration: none;
}

.buttons-nav:hover {
    color: rgb(164, 216, 216);
}

.buttons-nav:active {
    color: rgb(164, 216, 216);
}

#code-atoms:hover {
    color: rgb(164, 216, 216);
    cursor: pointer;
}

.hover-codeatoms {
    align-items: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: animateArrow;
    display: flex;
    font-family: Poppins;
    justify-content: center;
    position: absolute;
    right: 18%;
    top: 20%;
    transition: 2s;
}

.hover-codeatoms p {
    margin-left: 6px;
}

@keyframes animateArrow {
    from {
        color: black;
        right: 12%;
        transition: 2s;
    }
    to {
        color: rgb(164, 216, 216);
        right: 14%;
        transition: 2s;
    }
}

.code-atoms-explications {
    align-items: center;
    background-color: rgba(50, 230, 240, 0.1);
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 16em;
    right: 5em;
    padding: 1em;
    position: absolute;
    opacity: 0;
    top: 8em;
    transition: 1s;
    width: 16em;
}

.code-atoms-explications p {
    font-family: Poppins;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

#code-atoms-link {
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.code-atoms-logo-image {
    width: 240px;
}

#home-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 26em;
    justify-content: space-between;
    margin: auto;
    margin-top: 12em;
    width: 70em;
}

#home-section-content {
    align-items: center;
    background-image: url('./imagens/home-section-background.png');
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#minha-foto {
    border-radius: 20%;
    height: 180px;
    width: 180px;
}

#home-section-text-content {
    width: 60%;
}

#home-section-text-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    line-height: 1.2em;
    margin-bottom: 6px;
    width: 60%;
}

#home-section-text-content h3 {
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 6px;
}

#home-section-text-content p {
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 6px;
    width: 80%;
}

#home-section-buttons {
    align-items: center;
    display: flex;
    height: 5em;
    justify-content: space-evenly;
    width: 50%;
}

#home-section-buttons p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.button-function {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: rgba(93, 214, 214, 0.8);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 34px 18px 34px;
    transition: 0.2s;
    margin-top: 10px;
}

.button-function:hover {
    background-color: rgba(86, 195, 195, 0.9);
    color: rgb(248, 248, 248);
    transition: 0.2s;
}

#home-section-social-icons {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
}

.anchor-item {
    color: rgb(93, 214, 214);
    cursor: pointer;
    text-decoration: none;
    margin: 0 6px;
    margin-top: 10px;
}

.anchor-item:hover {
    color: rgba(83, 184, 184, 0.9);
}

#home-section-scroll-down {
    align-items: center;
    bottom: 33%;
    display: flex;
    left: 18%;
    position: absolute;
    transition: 0.8s;
}

#home-section-scroll-down:hover {
    color: rgba(83, 184, 184, 0.9);
    cursor: pointer;
    transform: translate(0px, 10px);
    transition: 0.0.8s;
}

#home-section-scroll-down p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
}

#abilities-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: auto;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 6em;
    width: 65%;
}

#abilities-section-title-content {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 60%;
}

#abilities-section-title-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

#abilities-section-title-content p {
    color: rgb(102, 102, 102);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}

#abilities-section-cards-content {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 80%;
    justify-content: space-evenly;
    margin-top: 6em;
    opacity: 0;
    width: 100%;
}

.abilities-section-card {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 34em;
    justify-content: space-between;
    margin: 2em;
    width: 35%;
}

.abilities-section-card-design {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 30.2em;
    justify-content: space-between;
    margin: 2em;
    width: 35%;
}

.abilities-section-card-design h3 {
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

.abilities-section-card h3 {
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.abilities-section-card-thumb-front {
    background-image: url('./imagens/frontend.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 9em;
    width: 14em;
}

.abilities-section-card-thumb-back {
    background-image: url('./imagens/backend.png');
    background-size: 100% 80%;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 9em;
    width: 14em;
}

.abilities-section-card-thumb-design {
    background-image: url('./imagens/design-image.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    height: 34%;
    width: 80%;
}

.abilities-section-card-graphic-content {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    margin: 6px;
    width: 70%;
}

.abilities-section-card-graphic {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.abilities-section-card-graphic p {
    color: rgb(80, 80, 80);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 6px;
    margin-top: 2px;
}

.abilities-section-card-graphic-bar-html {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 90%;
}

.abilities-section-card-graphic-bar-css {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 80%;
}

.abilities-section-card-graphic-bar-js {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 80%;
}

.abilities-section-card-graphic-bar-jq {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 60%;
}

.abilities-section-card-graphic-bar-react {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 70%;
}

.abilities-section-card-graphic-bar-redux {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 60%;
}

.abilities-section-card-graphic-bar-php {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 30%;
}

.abilities-section-card-graphic-bar-node {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 70%;
}

.abilities-section-card-graphic-bar-express {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 80%;
}

.abilities-section-card-graphic-bar-restapi {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 80%;
}

.abilities-section-card-graphic-bar-sql {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 70%;
}

.abilities-section-card-graphic-bar-mysql {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 70%;
}

.abilities-section-card-graphic-bar-java {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 30%;
}

.abilities-section-card-graphic-bar-typescript {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 60%;
}

.abilities-section-card-graphic-bar-design {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 60%;
}

.abilities-section-card-graphic-bar-layouts {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 70%;
}

.abilities-section-card-graphic-bar-uiux {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 60%;
}

.abilities-section-card-graphic-bar-comunicacao {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 70%;
}

.abilities-section-card-graphic-bar-colaboracao {
    background-color: rgba(93, 214, 214, 0.8);
    border-radius: 2px;
    height: 4px;
    width: 80%;
}

.abilities-section-card-graphic-bar-border {
    border: 2px solid rgba(55, 156, 156, 0.8);
    border-radius: 2px;
    width: 10%;
}

.counter-html {
    margin-left: 8em;
}

.counter-css {
    margin-left: 8.7em;
}

.counter-js {
    margin-left: 6.15em;
}

.counter-jq {
    margin-left: 8.12em;
}

.counter-react {
    margin-left: 8.75em;
}

.counter-redux {
    margin-left: 8.55em;
}

.counter-php {
    margin-left: 10em;
}

.counter-node {
    margin-left: 7.8em;
}

.counter-sql {
    margin-left: 10.15em;
}

.counter-nosql {
    margin-left: 8.9em;
}

.counter-java {
    margin-left: 9.5em;
}

.counter-cplusplus {
    margin-left: 9.8em;
}

.counter-design {
    margin-left: 8.6em;
}

.counter-layouts {
    margin-left: 8.22em;
}

.counter-uiux {
    margin-left: 10.75em;
}

.counter-comunicacao {
    margin-left: 4.96em;
}

.counter-colaboracao {
    margin-left: 5.55em;
}

#qualifications-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: Poppins;
    height: 50em;
    margin: auto;
    margin-top: 8em;
    width: 60%;
}

.qualifications-section-title {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 60%;
}

.qualifications-section-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.qualifications-section-title p {
    justify-content: center;
    color: rgb(102, 102, 102);
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}

.qualification__container {
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: 4em;
    opacity: 0;
}

.qualification__tabs {
    font-size: 20px;
    margin-bottom: 4em;
}

.qualification__sections {
    margin-bottom: 4.5em;
}

.qualification__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50em;
}

.qualification__content2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    width: 80em;
}

.qualification__data {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20em;
}

.divisor-bar {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 8em;
    width: 2px;
}

.divisor-bar2 {
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 8em;
    width: 2px;
}

.qualification__content2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50em;
}

#projects-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: Poppins;
    height: 56em;
    margin: auto;
    width: 75%;
}

.projects-section-title {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 60%;
}

.projects-section-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.projects-section-title p {
    color: rgb(102, 102, 102);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}

.projects-section-container-content {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 80%;
    justify-content: space-around;
    margin: auto;
    margin-top: 2em;
    width: 80%;
    opacity: 0;
}

.projects-section-content {
    align-items: center;
    border-radius: 18px;
    display: flex;
    height: 42%;
    justify-content: space-between;
    width: 100%;
}

.projects-section-content-card-trybewallet {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-content-card-trybewallet img {
    border-radius: 12px;
    width: 60%;
    height: 100%;
}

.projects-section-content-card-complexorj {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-content-card-complexorj img {
    border-radius: 12px;
    width: 60%;
    height: 100%;
}

.projects-section-content-card-blogsapi {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-content-card-blogsapi img {
    border-radius: 12px;
    width: 60%;
    height: 100%;
}

.projects-section-content-card-frontend-online-store {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-content-card-frontend-online-store img {
    border-radius: 12px;
    width: 60%;
    height: 100%;
}

.projects-section-content-card-trivia {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-content-card-trivia img {
    border-radius: 12px;
    width: 60%;
    height: 100%;
}

.projects-section-content-card-recipe-app {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.image-div-projects-section-card-recipe {
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    display: flex;
    width: 75%;
    height: 100%;
}

.image-div-projects-section-card-recipe img {
    border-radius: 8px;
    width: 160px;
}

.projects-section-content-card-codeatoms {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-content-card-codeatoms img {
    border-radius: 12px;
    width: 60%;
    height: 100%;
}

.projects-section-content-card-nuis {
    align-items: center;
    display: none;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.projects-section-text-content {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-evenly;
    width: 50%;
}

.projects-section-text-content-div {
    text-align: center;
}

.projects-section-text-content-div h4 {
    margin: auto;
    width: 100%;
}

.projects-section-text-content p {
    text-align: justify;
    width: 80%;
}

.thumb-content2 {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 74.5%;
}

.thumb-content2 img {
    width: 60%;
    height: 100%;
}

.button-function a {
    color: black;
    text-decoration: none;
}

.left-arrow {
    padding: 1em;
    transition: 0.5s;
}

.left-arrow:hover {
    background-color: rgba(103, 174, 255, 0.15);
    border-radius: 50%;
    transition: 0.5s;
}

.right-arrow {
    padding: 1em;
    transition: 0.5s;
}

.right-arrow:hover {
    background-color: rgba(103, 174, 255, 0.15);
    border-radius: 50%;
    transition: 0.5s;
}

.left-arrow-2 {
    padding: 1em;
    transition: 0.5s;
}

.left-arrow-2:hover {
    background-color: rgba(103, 174, 255, 0.15);
    border-radius: 50%;
    transition: 0.5s;
}

.right-arrow-2 {
    padding: 1em;
    transition: 0.5s;
}

.right-arrow-2:hover {
    background-color: rgba(103, 174, 255, 0.15);
    border-radius: 50%;
    transition: 0.5s;
}

#contact-section {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: Poppins;
    height: 26em;
    margin: auto;
    margin-top: 2em;
    width: 60%;
}

.contact-section-title {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 60%;
}

.contact-section-title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.contact-section-title p {
    color: rgb(102, 102, 102);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
}

.contact-section-container-content {
    align-self: flex-start;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 8em;
    opacity: 0;
    padding: 1em;
    width: 64%;
}

.contact-span {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-left: 6px;
}

.footer {
    align-items: center;
    background: rgb(82,219,226);
    background: linear-gradient(0deg, rgba(50, 230, 240, 0.5) 0%, rgba(82,219,22,0) 80%);  
    display: flex;
    flex-flow: row;
    height: 16em;
    margin: auto;
    justify-content: center;
    width: 100%;
}

.footer-text p {
    color: rgb(32, 32, 32);
    font-family: Poppins;
    font-size: 16px;
    margin: auto;
    margin-top: 3em;
    width: 60%;
    text-align: center;
}

@media only screen and (max-width: 1300px) {
    #projects-section {
        align-items: center;
        display: flex;
        flex-flow: column;
        font-family: Poppins;
        height: 56em;
        margin: auto;
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
    #home-section {
        width: 100%;
    }

    .abilities-section-card {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 34em;
        justify-content: center;
        margin: 2em;
        width: 35%;
    }

    #home-section-buttons p {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin: 0 10px;
    }

    #home-section-scroll-down {
        align-items: center;
        bottom: 30%;
        display: flex;
        left: 10%;
        position: absolute;
        transition: 0.8s;
    }

    #abilities-section-title-content {
        align-items: center;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    #abilities-section-cards-content {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        justify-content: space-evenly;
        margin-top: 2em;
        opacity: 0;
        width: 100%;
    }

    #abilities-section {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: auto;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 2em;
        width: 65%;
    }

    #abilities-section {
        height: 75em;
    }

    .abilities-section-card-thumb-front {
        background-image: url('./imagens/frontend.png');
        background-size: 100% 80%;
        background-repeat: no-repeat;
        border-radius: 8px;
        height: 6em;
        width: 10em;
    }

    .abilities-section-card-thumb-design {
        background-image: url('./imagens/design-image.png');
        background-size: 100% 80%;
        background-repeat: no-repeat;
        border-radius: 8px;
        height: 8em;
        width: 10em;
    }

    .abilities-section-card-thumb-back {
        background-image: url('./imagens/backend.png');
        background-size: 100% 80%;
        background-repeat: no-repeat;
        border-radius: 8px;
        height: 7em;
        width: 9em;
    }

    .abilities-section-card-graphic-bar-border {
        border: 2px solid rgba(55, 156, 156, 0.8);
        border-radius: 2px;
        margin: auto;
        width: 12em !important;
    }
}

@media only screen and (max-width: 940px) {
    #minha-foto {
        border-radius: 20%;
        height: 140px;
        width: 140px;
    }

    #home-section-text-content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        line-height: 1.2em;
        margin-bottom: 6px;
        width: 70%;
    }

    .contact-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }

    .projects-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
    }

    #home-section-text-content h3 {
        color: rgb(80, 80, 80);
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-bottom: 6px;
    }
    
    #home-section-text-content p {
        color: rgb(80, 80, 80);
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin-bottom: 6px;
        width: 80%;
    }
    
    #home-section-buttons {
        align-items: center;
        display: flex;
        height: 4em;
        justify-content: space-evenly;
        width: 35%;
    }
    
    #home-section-buttons p {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
    }
    
    .button-function {
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 10px;
        background-color: rgba(93, 214, 214, 0.8);
        cursor: pointer;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 14px 8px 14px;
        transition: 0.2s;
    }

    #abilities-section-title-content h1 {
        font-size: 30px;
    }

    .qualifications-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
    }

    .qualification__tabs {
        font-size: 16px;
        margin-bottom: 4em;
    }

    .qualification__content {
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        width: 34em;
    }

    .qualification__content2 {
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        width: 34em;
    }

    .qualification__subtitle2 {
        align-items: center;
        display: flex;
        flex: row wrap;
        justify-content: center;
        width: 10em;
    }

    .qualification__title2 {
        width: 12em;
    }

    .projects-section-content-card-recipe-app {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-recipe-app img {
        margin-bottom: 1em;
    }

    .projects-section-content-card-frontend-online-store {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-frontend-online-store img {
        margin-bottom: 1em;
    }

    .projects-section-content-card-trybewallet {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-trybewallet img {
        margin-bottom: 1em;
    }

    .projects-section-content-card-trivia {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-trivia img {
        margin-bottom: 1em;
    }

    .projects-section-content-card-codeatoms {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-codeatoms img {
        margin-bottom: 1em;
    }

    .projects-section-content-card-complexorj {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-complexorj img {
        margin-bottom: 1em;
    }

    .projects-section-content-card-nuis {
        flex-direction: column;
        height: auto;
        margin-bottom: 2em;
    }

    .projects-section-content-card-nuis img {
        margin-bottom: 1em;
    }

    #projects-section {
        align-items: center;
        display: flex;
        flex-flow: column;
        font-family: Poppins;
        height: auto;
        margin: auto;
        width: 75%;
    }

    .projects-section-text-content {
        width: 70%;
    }

    .projects-section-text-content-div h4 {
        margin-bottom: 1em;
    }

    .projects-section-container-content {
        justify-content: space-between;
        height: auto;
        margin-top: 4em;
    }

    .abilities-section-card {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 24.2em;
        justify-content: space-between;
        margin: 2em;
        width: 60%;
    }

    .abilities-section-card-backend {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 24.2em;
        justify-content: space-between;
        margin: 2em;
        width: 60%;
    }

    .abilities-section-card-design {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 24.2em;
        justify-content: space-between;
        margin: 2em;
        width: 60%;
    }

    .abilities-section-card-graphic-bar-border {
        border: 2px solid rgba(55, 156, 156, 0.8);
        border-radius: 2px;
        margin: auto;
        width: 90% !important;
    }
}

@media only screen and (max-width: 840px) {
    .header-content {
        align-items: center;
        display: flex;
        font-family: 'Poppins', sans-serif;
        justify-content: center;
        margin: auto;
        width: 80em;
    }

    #nav-menu {
        display: flex;
        justify-content: space-between;
        width: 65%;
    }

    #projects-section {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    #home-section-buttons {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 5em;
        justify-content: space-evenly;
        width: 50%;
    }

    #home-section-buttons p {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        margin: 10px 0;
    }

    #minha-foto {
        border-radius: 20%;
        height: 120px;
        width: 120px;
    }

    #home-section-text-content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        line-height: 1.2em;
        margin-bottom: 6px;
        width: 70%;
    }

    .projects-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    .contact-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    #home-section-text-content h3 {
        color: rgb(80, 80, 80);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-bottom: 6px;
    }
    
    #home-section-text-content p {
        color: rgb(80, 80, 80);
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-bottom: 6px;
        width: 80%;
    }
    
    #home-section-buttons {
        align-items: center;
        display: flex;
        height: 4em;
        justify-content: space-evenly;
        width: 35%;
    }
    
    #home-section-buttons p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    #home-section {
        margin-top: 10em;
    }
}

@media only screen and (max-width: 620px) {
    #home-section-text-content p {
        position: absolute;
        display: none;
    }

    #nav-menu {
        display: flex;
        justify-content: space-between;
        width: 75%;
    }

    #home-section-buttons {
        align-items: center;
        display: flex;
        height: 4em;
        justify-content: space-evenly;
        width: 45%;
    }
    
    #home-section-buttons p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .projects-section-container-content {
        width: 100%;
    }

    .projects-section-text-content {
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    #minha-foto {
        position: absolute;
        display: none;
    }

    #home-section-content {
        justify-content: center;
        text-align: center;
    }

    #home-section-text-content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom: 6px;
        width: 100%;
    }

    .contact-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    #home-section-scroll-down {
        display: none;
    }

    #qualifications-section {
        margin-top: 4em;
    }

    #nav-menu {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    #home-section-text-content {
        width: 100%;
    }

    .qualification__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    
    .qualification__content2 {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        width: 100%;
    }

    #qualifications-section {
        height: 70em;
    }

    .divisor-bar {
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        height: 10em;
        width: 2px;
        transform: rotate(90deg);
    }
    
    .divisor-bar2 {
        background-color: rgb(0, 0, 0);
        border-radius: 50%;
        height: 10em;
        width: 2px;
        transform: rotate(90deg);
    }

    .qualifications-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    #abilities-section-title-content h1 {
        font-size: 24px;
    }

    .projects-section-title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }
}

@media only screen and (max-width: 420px) {
    .abilities-section-card {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 30em;
        justify-content: space-between;
        margin: 2em;
        width: 90%;
    }

    .abilities-section-card-backend {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 30em;
        justify-content: space-between;
        margin: 2em;
        width: 90%;
    }

    .abilities-section-card-design {
        align-items: center;
        display: flex;
        flex-flow: column;
        height: 24.2em;
        justify-content: space-between;
        margin: 2em;
        width: 90%;
    }

    .right-arrow {
        width: 20px !important;
        height: 20px !important;
    }

    .right-arrow-2 {
        width: 20px !important;
        height: 20px !important;
    }

    .left-arrow {
        width: 20px !important;
        height: 20px !important;
    }

    .left-arrow-2 {
        width: 20px !important;
        height: 20px !important;
    }

    .projects-section-content-card-recipe-app img {
        margin-bottom: 1em;
        width: 10em;
    }

    .projects-section-content-card-frontend-online-store img {
        margin-bottom: 1em;
        width: 10em;
    }

    .projects-section-content-card-trybewallet img {
        margin-bottom: 1em;
        width: 10em;
    }

    .projects-section-content-card-trivia img {
        margin-bottom: 1em;
        width: 10em;
    }

    .projects-section-content-card-codeatoms img {
        margin-bottom: 1em;
        width: 10em;
    }

    .projects-section-content-card-complexorj img {
        margin-bottom: 1em;
        width: 10em;
    }

    .projects-section-content-card-nuis img {
        margin-bottom: 1em;
        width: 10em;
    }

    #header {
        display: none;
        position: absolute;
    }
}